.main{
text-transform: capitalize;
display: flex;
background-color: red;
height: 80%;
flex-direction: row;
}

.pic{
    height: 75%;
    width: 80%;
padding: 10px;
text-transform: capitalize;
border-radius: 30px;
}

.discp{
    overflow: visible;
    padding: 2px;
    text-align: centre;
    font-weight: 500;
}